@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Noto Sans', sans-serif;
}
html{
    scrollbar-width: none;
}

.google-button{
    width: 100%;
    margin-top: 10px;;
}
.price{
    /* font-family: 'Space Mono', monospace; */
    font-family: 'Noto Sans', sans-serif;
}
.rounded-xl {
    border-radius: 10%;
}
.bg-black{
    background-color: black;
}
.none-decorate{
    text-decoration: none;

}
.watchlist-button{
    cursor: pointer;
}
.text-small{
    font-size: smaller;
    font-weight: 600;
}
.custom-hr{
    border-top: 1px solid rgba(102, 101, 101, 0.5);
}
.custom-black{
    color: black;
    font-size: medium;
}
.font-orange{
    color: #e03030;
}
.font-green{
    color: rgb(74, 194, 74);
}
.container-max{
    width: 90vw;;
}
.widget{
    min-height: 40vh;
}
.min-hw-100{
    min-height: 80vh;
    min-width: 100vw;;
}
.graphWrapper-100{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
}
.customColumn{
    height: 33vh;
}
.seperator{
    color: rgb(224, 0, 0);
}
.custom-widget-width{
    min-width: 400px;
}